* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:Lucida;

}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
}
/* INICIO */
.Inicio {
        background-image: url(../fotos/fondo-cafe.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: center;
        color: var(--color-negro);
        padding: 20px;

        background-attachment: fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover; 
        -o-background-size: cover; 
}
.titulo {
    text-align: start;
    margin-left: 50px;
    font-size: 4rem;
    width: 50%;
}

.inicio-buton {
    display: flex;
    flex-direction: row;
}

.buton-a {
    border: solid 2px var(--color-rojo);
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.buton-a:hover {
    background-color: var(--color-rojo);
    transition: .5s;
}

.b1 {
    margin-left: 50px;
}

.buton-a a {
    color: var(--color-texto); 
    font-size: 1.2rem;
}


/* OFERTA */
.oferta{
    background-color: var(--color-texto2);
    color: var(--color-texto);
    text-align: center;
    padding: 25px;
    font-size: 1.4rem;
}
/* FOTO Y DESCRIPCION */

content {
    background-color: var(--color-texto);
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .come, .bebe, .disfruta {
    display: flex;
    align-items: center;
  }

  .descripcion-foto {
    float: left;
    width: 50%;
    height: auto;
    object-fit: cover;
    text-align: center;
  }

  .content-sub-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .descripcion-p {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 40px;
  }
  b, h3{
    font-size: 2rem;
    color: var(--color-datalles);
  }

.foto-compu{
    display: none;
}

  /* HORARIOS */

  section{
    display: flex;
    text-align: center;
    background-color: var(--color-cafe);
    height: 50vh;
    width: 100% !important;
  }
 .section-horarios-titulo{
    background-color: var(--color-cafe);
    font-size: 2rem;
    text-align: center;
    padding:20px 0;
  }
    .horarios-caracteristicas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .sub-horarios-caracteristicas{
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.4;
  } 
  .sub-r6{
    padding: 10px;
    height: 70% ;
    border-right: solid 2px var(--color-datalles);
  }
  .section-horarios-titulo-master{
    width: 100% !important;
 }

  /* GALERIA */

.galeria{
    display: flex;
    max-height: 50vh;
    overflow-x: auto;
    object-fit: cover;
}

.galeria-img{
    width: 300px;
    object-fit: cover;
}

/* FOOTER */
 footer{
    display: flex;
    background-color: var(--color-datalles);
    height: 40vh;
    width: 100%;
}

.footer-info{
    display: flex;
    color: var(--color-texto);
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.footer-titulo{
    font-size: 2rem;
}
.sub-footer-info{
    font-size: 1.3rem;
}

.redes{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    justify-content: space-evenly;
    font-size: 1.3rem;
}
.redes-a{
    display: flex;
    color: var(--color-cafe);
    justify-content: space-evenly;
}



.redes-a:hover{
    color: #333 ;
}
input{
    background-color: transparent;
    border: solid 1px var(--color-texto);
    margin-top: 20px;
    border-radius: 10px;
    padding: 9px;
    color:  var(--color-texto);
} 
input::placeholder{
    color: #d0c4c4;
}
input:hover{
    background-color: #333;
}  


@media (max-width: 768px) {
    .logo-pag{
       width: 4.5rem ;
   } 
.titulo{
   width: 100%;
   padding: 0;
   margin: 0 auto;
   text-align: center;
   width: 95%;
   margin-bottom: 20px;
   font-size: 2.5rem;
}
.inicio-buton {
   padding: 0;
   margin: -20px;
   width: 100%;

   justify-content: center;
}
.buton-a {
   display: block;
   text-align: center;
   align-items: center;
   
}
/* FOTO Y DESCRIPCION */
.foto-compu{
   display: block;
}
content {
   display: block;
 }
 .come, .bebe, .disfruta {
   display: block;
 }

 .descripcion-foto {
   width: 100%;
   height: 60vh;

 }

 .content-sub-titulo {
   font-size: 1.5rem;
   margin-bottom: 10px;
 }
 b, h3{
   font-size: 2rem;
   color: var(--color-datalles);
 }
.content{
   display: flex;
   flex-direction: column;
}
 .bebe-responsive{
   display: none;
 }
.descripcion-p{
   display: flex;
   flex-direction: column;
   height: 40vh;
   padding: 40px 30px;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}

/* HORARIO */
.section-horarios-titulo-master{
   display: inline-block;
}
.section-horarios-titulo{
   padding: 30px 0;
}

b, h3{
   font-size: 2rem;
 }
 .sub-horarios-caracteristicas{
   width: 100%;
   font-size: 1.3rem;
   line-height: 1.4;
 } 

}

@media (max-width: 480px){

/* OFERTA */
.oferta{
   font-size: 1.2rem;
}
.sub-horarios-caracteristicas{
   font-size: 1rem;
}
h3{
   font-size: 1.5rem;
   padding: 10px 0;
}

/* FOTO Y DESCRIPCION */
.descripcion-p{
   width: 100%;
   text-align: center;
   padding:  50px 5px 40px 5px;
   margin: 0 auto;
}

.sub-footer-info{
   font-size: 1rem;
}

}
@media (max-width: 370px){
   footer{
       padding: 20px;
       display: flex;
       flex-direction: column;
       height: 100%;
   }
   .footer-info{
       display: flex;
       flex-direction: column;
   }
   .redes{
       width: 100%;
   }
   .redes-a{
       padding: 20px;
   }
}
@media only screen and (max-width: 768px) {
 .Inicio {
     background-attachment: scroll; 
     padding: 10px;
 }

 .Inicio .titulo {
     font-size: 2em; 
     padding: 10px;
 }

 .Inicio .inicio-buton {
   margin: 0 auto;
 }

 .Inicio .buton-a {
     margin: 10px 0; 
 }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
 .Inicio {
     padding: 15px;
 }

 .Inicio .titulo {
     font-size: 2em; 
 }

 .Inicio .inicio-buton {
     flex-direction: row; 
     justify-content: space-around; 
 }
 .Inicio .buton-a {
   margin: 15px; 
}
}

@media only screen and (min-width: 1025px) {
.Inicio {
   padding: 20px; 
}

.Inicio .titulo {
   font-size: 2.5em;
}

.Inicio .inicio-buton {
   flex-direction: row; 
   justify-content: center; 
}

.Inicio .buton-a {
   margin: 20px; 
}
}

